@use "variables";

.clients-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.clients-list {
  display: block;
}

.client {
  height: 120px;
}

.client:nth-child(n+7) {
  display: none;
}

.client-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@each $client, $color in variables.$client-background {
  .client-#{$client} {
    background-color: $color;
  }
}

@media (min-width: map-get(variables.$screen-size, "tablet")) {
  .client-wrapper {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }

  .client {
    width: 256px;
  }

  .clients-list {
    display: flex;
    flex-wrap: wrap;
  }

  .client:nth-child(n+7) {
    display: block;
  }
}

@media (min-width: map-get(variables.$screen-size, "netbook")) {
  .client-wrapper {
    width: 1024px;
  }
}

@media (min-width: map-get(variables.$screen-size, "laptop")) {
  .client-wrapper {
    width: 1440px;
  }

  .client {
    width: 360px;
  }
}

@media (min-width: map-get(variables.$screen-size, "desktop")) {
  .clients-list {
    border-radius: 12px;
    overflow: hidden;
  }

  .client-wrapper {
    width: 1720px;
  }

  .client {
    width: 430px;
  }
}