@use "variables";

.footer {
  background-color: #F5F5FA;
}

.contact-info {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
}

.geolocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 21px;
  gap: 10px;
}

.street {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  position: relative;
}

.location {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.social-media {
  display: block;
  text-decoration: 0;
}

.social-media svg {
  display: block;

  &:hover * {
    fill: variables.$hover-color;
  }
}

.mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  text-decoration: none;

  &:hover {
    color: variables.$hover-color;
  }
}

.copyright {
  display: flex;
  position: relative;

  & > p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #B3B3BA;
  }
}



@media (min-width: map-get(variables.$screen-size, "tablet")) {

  .main-footer .contact-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .address {
    align-items: flex-start;
    width: 50%;
  }

  .geolocation {
    flex-direction: row;
    gap: 26px;
  }

  .street::after {
    @include variables.getContactsDelimiter();
  }

  .contacts {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    gap: 26px;

    & > a {
      position: relative;
    }

    & > a:not(:last-child)::after {
      @include variables.getContactsDelimiter();
    }
  }

  .main-footer .contacts {
    margin-bottom: 0;
  }

  .main-footer .copyright {
    width: 50%;

    & > p {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media (min-width: map-get(variables.$screen-size, "netbook")) {
  .contact-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contacts {
    margin-bottom: 0;
  }
}