@use "variables";

.hero-section {
  background-image: url("../images/heroSection/hero-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.head-wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.localization {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 7px;

  &-active {
    background: variables.$hover-color;
    border-radius: 8px;
  }
}

.main-logo {
  height: 32px;
  width: 70px;
  display: block;
}

.page-title {
  padding-left: 30px;
  padding-right: 30px;
}

.hero-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

.hero-action {
  display: flex;
  justify-content: center;
}

.scroll-button {
  text-decoration: none;

  & svg {
    display: block;
  }

  &:hover * {
    stroke: variables.$hover-color;
  }
}

@media (min-width: map-get(variables.$screen-size, "tablet")) {
  .hero-section {
    padding-bottom: 60px;
  }

  .main-logo {
    height: 60px;
    width: 130px;
  }
}

@media (min-width: map-get(variables.$screen-size, "netbook")) {
  .hero-section {
    background-size: contain;
  }
}