@use "variables";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  max-width: map-get(variables.$screen-size, "desktop");
}

.top-section {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.group-top-sections {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

@media (min-width: map-get(variables.$screen-size, "tablet")) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .top-section {
    margin-bottom: 60px;
  }
}

@media (min-width: map-get(variables.$screen-size, "desktop")) {
  .wrapper {
    padding-left: 160px;
    padding-right: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}

