@use "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.main-section {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

@media (min-width: map-get(variables.$screen-size, "tablet")) {
  .main-section {
    margin-bottom: 60px;
  }
}

