@use "variables";

.section-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  padding-right: 14px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;

  &::after {
    content: "";
    height: 12px;
    width: 12px;
    background-image: url("../images/services/arrow-services.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
  }

  &:hover {
    color: #F0145A;
    &::after {
      background-image: url("../images/services/arrow-services-on-hover.png");
    }
  }
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: map-get(variables.$screen-size, "tablet")) {
  .section-title {
    margin-bottom: 60px;
  }
}