$screen-size: ("mobile": 375px, "tablet": 768px, "netbook": 1024px, "laptop": 1440px, "desktop": 1920px);

$wrapper-size: ("mobile": 315px, "tablet": 648px, "netbook": 904px, "laptop": 1320px, "desktop": 1600px);

$client-background: (
  "hillel": #1C4280,
  "wannaBiz": #143646,
  "tapgerine": #F48B30,
  "3dLook": #9E4DC3,
  "orangear": #FD9339,
  "adtelligent": #E2E2E4,
  "clickky": #C71C36,
  "ecoLeasing": #DCF3F9,
  "infraTek": #EAEAEA,
  "cityPark": #282240,
  "artPrint": #1D4568,
  "ultimateCard": #000000,
);

$article-image: (
 "equity": "../images/articles/equity-associate.png",
 "gdpr": "../images/articles/gdpr.png",
 "millennial": "../images/articles/millennial-testament.png",
 "language": "../images/articles/language.png",
 "reimbursement": "../images/articles/reimbursement.png",
);

$hover-color: #F0145A;

@mixin getContactsDelimiter {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
}